@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital@0;1&family=Open+Sans&display=swap');

@f1: 'Fredoka One', cursive;
@f2: 'Montserrat', sans-serif;
@f3: 'Open Sans', sans-serif;

.text-overflow {
  overflow: hidden;
  text-indent: -999vw;
}

//1440
//@x: 100vw/1440;
@x: 0.0694vw;

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  &.s-intro, &.s-coming-soon, &.s-positions {
    scroll-snap-align: start;
  }
}

body {
  font-size: 20*@x;
  line-height: 1.4;
  background: #fff;
  font-family: @f2;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: #fff;
  z-index: 999;

  &__logo {
    width: 174*@x;
    height: 41*@x;
    background: url("../img/logo.png") center center no-repeat;
    background-size: 100%;
    margin: 0 40*@x;
  }
}

.btn-hamb {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25*@x;
  font-family: @f1;
  color: #7D35BD;
  height: 63*@x;

  .main-nav__ul {
    display: flex;
    align-items: center;

    & > li {
      display: flex;
      align-items: center;
      margin: 0 15*@x;

      a {
        color: #7D35BD;
        font-family: @f1;
      }
    }
  }
}

.icon-email, .icon-linkedin {
  width: 24*@x;
  height: 24*@x;
  display: inline-block;
  .text-overflow();
}

.icon-email {
  background: url("../img/icon-email.svg") center center no-repeat;
  background-size: contain;
}

.icon-linkedin {
  background: url("../img/icon-linkedin.svg") center center no-repeat;
  background-size: contain;
}

.page-content {
}

// section intro
.s-intro {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/bg-intro-top.png") center bottom no-repeat;
  background-size: cover;
  padding-top: 63*@x;

  h1 {
    margin: 0 auto;
    width: 383*@x;
    height: 327*@x;
    background: url("../img/we-are-mobile-gaming.png") no-repeat;
    background-size: 100% auto;
    .text-overflow();
  }
}

.icon-down {
  width: 57*@x;
  height: 57*@x;
  background: url("../img/icon-scroll.png") no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 40*@x;
  left: 50%;
  transform: translate(-50%, 0);
}

// section coming soon
.s-coming-soon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/bg-intro-bottom.png") center top no-repeat;
  background-size: cover;
  padding-top: 63*@x;
}

.text-coming-soon {
  width: 410*@x;
  height: 610*@x;
  margin: 30*@x auto;
  background: url("../img/merge-your-way.png") center center no-repeat;
  background-size: contain;
  .text-overflow();
}

// section positions
.s-positions {
  height: 100vh;
  background: url("../img/bg-positions.png") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 63*@x 0 120*@x;
}

.img-knight {
  width: 646*@x;
  height: 371*@x;
  background: url("../img/knight.png") center center no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.text-we-are-hiring {
  background: url("../img/we-are-hiring.png") center center no-repeat;
  background-size: contain;
  width: 304*@x;
  height: 51*@x;
  margin: 30*@x auto 40*@x;
  flex-shrink: 0;
  .text-overflow();
}

.btn-positions {
  padding: 0 22*@x;
  height: 67*@x;
  background: linear-gradient(180deg, #33379B 17.55%, #8A089F 105.27%, rgba(51, 55, 155, 0) 105.28%);
  border: 5*@x solid #ace0fa;
  border-radius: 100*@x;
  color: #fff;
  font-family: @f1;
  font-size: 22*@x;
  line-height: 57*@x;
  margin: 0 auto;
  display: inline-block;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -5*@x;
    right: -5*@x;
    bottom: -5*@x;
    left: -5*@x;
    border-radius: 100*@x;
    box-shadow: 0 8*@x 10*@x rgba(142, 138, 138, 0.25);
  }
}

.footer-text {
  position: absolute;
  bottom: 24*@x;
  left: 0;
  right: 0;
  text-align: center;

  font-family: @f3;
  font-weight: 400;
  font-size: 14*@x;
  line-height: 20*@x;
  color: #33379B;


  ul {
    display: block;
    margin: 13*@x auto;

    li {
      display: inline-block;
      margin: 0 10*@x;
    }

    a {
      color: #33379B;
      text-decoration: underline;
    }
  }
}

.s-careers {
  min-height: 100vh;
  background: url("../img/bg-careers.png") center bottom;
  background-size: cover;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 120*@x;
  position: relative;

  .text-we-are-hiring {
    background: url("../img/text-we-are-hiring.png") center bottom no-repeat;
    background-size: contain;
    width: 583*@x;
    height: 105*@x;
    margin: 150*@x auto 70*@x;
    .text-overflow();
  }

  .footer-text, .footer-text a {
    color: #fff;
  }
}

.list-careers {
  margin: 0 auto;
  width: 904*@x;

  li {
    height: 97*@x;
    background: #FFFFFF;
    border-radius: 30*@x;
    position: relative;
    margin-bottom: 24*@x;
    font-size: 28*@x;
    line-height: 90*@x;
    color: #2E41A8;
    font-family: @f1;
    padding-left: 102*@x;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 22*@x;
      bottom: 16*@x;
      background: url("../img/statue.png");
      background-size: cover;
      width: 71*@x;
      height: 94*@x;
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(52, 57, 159, 0.7);

  .popup-content {
    position: fixed;
    width: 654*@x;
    max-width: 100%;
    max-height: 100%;
    //height: 662*@x;
    left: 50%;
    top: 50%;
    background: #FFF;
    border-radius: 30*@x;
    transform: translate(-50%, -50%);

    &:before {
      content: '';
      display: block;
      width: 105*@x;
      height: 139*@x;
      margin: -21*@x auto 0;
      background: url("../img/statue.png") center center no-repeat;
      background-size: contain;
    }
  }

  h2 {
    font-family: @f1;
    font-size: 28*@x;
    line-height: 34*@x;
    color: #2E41A8;
    text-align: center;
    margin: 14*@x 0 30*@x;
  }

  input {
    //margin: 0 0 16*@x;
    padding: 0 20*@x;
    background: #F5F5F5;
    height: 57*@x;
    line-height: 57*@x;
    //width: 100%;
    border-radius: 100*@x;
    width: calc(100% - 180 * @x);
    margin: 0 auto 16*@x;
    display: block;

    &[type=submit] {
      height: 85*@x;
      width: 100%;
      margin: 0;
      background: linear-gradient(91.28deg, #FFEC36 -21.92%, #FFA300 109.6%);
      border-radius: 0 0 30*@x 30*@x;
      font-family: @f1;
      font-size: 28*@x;
      line-height: 34*@x;
      text-align: center;
      color: #FFFFFF;
    }
  }
}

.s-text {
  background: #f5f5f5 url("../img/bg-text-page.png") center 134*@x;
  background-size: 100% auto;
  padding-top: 134*@x;
  min-height: 100vh;
  padding-bottom: 120*@x;
  position: relative;

  .text-heading {
    font-family: @f1;
    font-size: 90*@x;
    line-height: 110*@x;
    text-align: center;
    background: linear-gradient(180deg, #454545 0%, #7D35BD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 35*@x;
  }

  .text-content {
    width: 904*@x;
    margin: 0 auto;
    background: #fff;
    border-radius: 30*@x;
    min-height: 100vh;
    font-family: @f2;
    font-weight: 400;
    font-size: 20*@x;
    line-height: 28*@x;
    color: #141241;
    padding: 10*@x 50*@x 50*@x;

    h2 {
      font-family: @f1;
      font-size: 28*@x;
      line-height: 34*@x;
      color: #2E41A8;
      margin: 40*@x 0 20*@x;
    }
  }
}

//390
//@y: 100vw/390;
@y: 0.2564vw;

@media (max-width: 767px) {
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #34399F;
    opacity: .7;
    z-index: 998;

    &.hidden {
      display: none;
    }
  }

  .page-header {
    position: fixed;
    left: 0;
    right: 0;

    &__logo {
      width: 174*@y;
      height: 41*@y;
      background: url("../img/logo.png") center center no-repeat;
      background-size: 100%;
      margin: 0 10*@y;
    }
  }

  .btn-hamb {
    width: 25*@y;
    height: 25*@y;
    background: url("../img/hamb.svg") center center no-repeat;
    background-size: contain;
    display: block;
    margin-right: 25*@y;
  }

  .main-nav {
    margin: 0;
    height: 56*@y;

    &.collapsed {
      .main-nav__ul {
        display: none;
      }
    }

    .main-nav__ul {
      position: absolute;
      z-index: 999;
      right: 0;
      left: 0;
      top: 56*@y;
      flex-wrap: wrap;
      background: #fff;
      padding: 50*@y 0;

      & > li {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 30*@y;

        a {
          font-size: 30*@y;
          line-height: 36*@y;
        }
      }
    }
  }

  .icon-email, .icon-linkedin {
    width: 40*@y;
    height: 40*@y;
  }

  .icon-email {
    background: url("../img/icon-email.svg") center center no-repeat;
    background-size: contain;
  }

  .icon-linkedin {
    background: url("../img/icon-linkedin.svg") center center no-repeat;
    background-size: contain;
  }

  .page-content {
    //background: url("../img/bg-sections-mob.png") center top no-repeat;
    //background-size: 100% auto;
  }


  // section intro
  .s-intro {
    //height: 100vh;
    height: 215vw;
    background-image: url("../img/bg-intro-top-mob.png");
    background-position: center center;
    position: relative;
    z-index: 2;
    overflow: visible;
    justify-content: flex-start;

    &:before {
      content: '';
      position: absolute;
      background: url("../img/king-mob.png") center bottom no-repeat;
      background-size: 100% auto;
      width: 100%;
      height: 1196*@y;
      bottom: -40vw;
      z-index: 2;
    }

    h1 {
      margin: 76*@y auto 0;
      width: 270*@y;
      height: 225*@y;
      z-index: 3;
    }
  }

  .icon-down {
    display: none;
  }

  // section coming soon
  .s-coming-soon {
    //height: 100vh;
    height: 295vw;
    background-image: url("../img/bg-intro-bottom-mob.png");
    background-position: center bottom;
    z-index: 1;
    position: relative;
    justify-content: flex-start;

    &:before {
      content: '';
      position: absolute;
      background: url("../img/landscape-mob.png") center bottom no-repeat;
      background-size: 100% auto;
      width: 100%;
      height: 693*@y;
      bottom: -10vw;
      z-index: 2;
    }
  }

  .text-coming-soon {
    width: 340*@y;
    height: 562*@y;
    //margin: 56*@y auto 0;
    margin: 156*@y auto 0;
    background-image: url("../img/merge-your-way-mob.png");
    z-index: 3;
  }

  // section positions
  .s-positions {
    height: 100vh;
    padding: 56*@y 0 0;
    background: transparent;
    //background-image: url("../img/bg-positions-mob.png");
    overflow: visible;

    &:before {
      content: '';
      position: absolute;
      top: -500*@y;
      left: 0;
      bottom: 0;
      right: 0;
      background: url("../img/bg-positions-mob.png") top center no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  .img-knight {
    width: 390px;
    height: 281px;
    margin: 0 auto;
    background-image: url("../img/knight-mob.png");
    flex-shrink: 0;
  }

  .text-we-are-hiring {
    width: 304px;
    height: 51px;
    margin: 30px auto 40px;
    flex-shrink: 0;
  }

  .btn-positions {
    padding: 0 22px;
    height: 67px;
    border: 5px solid #ace0fa;
    border-radius: 100px;
    font-size: 22px;
    line-height: 57px;

    &:before {
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      border-radius: 100px;
      box-shadow: 0 8px 10px rgba(142, 138, 138, 0.25);
    }
  }

  .footer-text {
    position: static;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;

    .copyright {
      max-width: 175px;
      margin: 0 auto;
    }

    ul {
      margin: 13px auto;

      li {
        margin: 0 10px;
      }
    }
  }

  // page section careers
  .s-careers {
    background-image: url("../img/bg-careers-mob.png");
    background-size: cover;
    overflow: auto;
    padding-bottom: 140px;

    .text-we-are-hiring {
      background: url("../img/text-we-are-hiring-mob.png") center bottom no-repeat;
      background-size: contain;
      width: 339*@y;
      height: 152*@y;
      margin: 100*@y auto 40*@x;
    }

    .footer-text {
      position: absolute;
      bottom: 44px;
    }
  }

  .list-careers {
    margin: 0 18*@y;
    width: auto;

    li {
      height: 74*@y;
      border-radius: 10*@y;
      margin-bottom: 12*@y;
      font-size: 20*@y;
      line-height: 74*@y;
      padding-left: 70*@y;

      &:before {
        left: 17*@y;
        bottom: 17*@y;
        width: 37*@y;
        height: 48*@y;
      }
    }
  }

  .popup {
    display: none;

    .popup-content {
      display: block;
      position: static;
      width: calc(100% - 36px);
      margin: 100px 18px 0;
      border-radius: 10px;
      transform: none;

      &:before {
        position: absolute;
        width: 108px;
        height: 140px;
        margin: 0;
        top: 86px;
        left: 50%;
        transform: translate(-50%);
      }
    }

    h2 {
      font-size: 28px;
      line-height: 34px;
      margin: 0 0 10px;
      padding-top: 140px;
    }

    input {
      padding: 0 17px;
      height: 57px;
      line-height: 57px;
      border-radius: 100px;
      width: calc(100% - 34px);
      margin: 0 auto 16px;
      font-size: 14px;

      &[type=submit] {
        height: 93px;
        width: 100%;
        background: linear-gradient(91.28deg, #FFEC36 -21.92%, #FFA300 109.6%);
        border-radius: 0 0 10px 10px;
        font-size: 28px;
        line-height: 34px;
      }
    }
  }

  .s-text {
    background: #f5f5f5;
    margin: 0;
    padding: 90*@y 0 30*@y;
    position: static;

    .text-heading {
      font-size: 57*@y;
      line-height: 60*@y;
      margin-bottom: 35*@x;
    }

    .text-content {
      width: auto;
      background: transparent;
      min-height: 100vh;
      padding: 0 20*@y;
      font-size: 18*@y;
      line-height: 25*@y;

      h2 {
        font-size: 24*@y;
        line-height: 29*@y;
        margin: 20*@y 0 14*@y;
      }
    }
  }
}


@z: 0.256vw;
@media (max-width: 390px) {
  .img-knight {
    width: 390*@z;
    height: 281*@z;
  }

  .text-we-are-hiring {
    width: 304*@z;
    height: 51*@z;
    margin: 30*@z auto 40*@z;
  }

  .btn-positions {
    padding: 0 22*@z;
    height: 67*@z;
    border: 5*@z solid #ace0fa;
    border-radius: 100*@z;
    font-size: 22*@z;
    line-height: 57*@z;

    &:before {
      top: -5*@z;
      right: -5*@z;
      bottom: -5*@z;
      left: -5*@z;
      border-radius: 100*@z;
      box-shadow: 0 8*@z 10*@z rgba(142, 138, 138, 0.25);
    }
  }

  .footer-text {
    font-size: 14*@z;
    line-height: 20*@z;
    margin-top: 20*@z;

    .copyright {
      max-width: 175*@z;
    }

    ul {
      margin: 13*@z auto;

      li {
        margin: 0 10*@z;
      }
    }
  }
}
