@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredokaone/v12/k3kUo8kEI-tA1RRcTZGmTmHB.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
.text-overflow {
  overflow: hidden;
  text-indent: -999vw;
}
html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
section.s-intro,
section.s-coming-soon,
section.s-positions {
  scroll-snap-align: start;
}
body {
  font-size: 1.388vw;
  line-height: 1.4;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
}
.page-header__logo {
  width: 12.0756vw;
  height: 2.8454vw;
  background: url("../img/logo.png") center center no-repeat;
  background-size: 100%;
  margin: 0 2.776vw;
}
.btn-hamb {
  display: none;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.735vw;
  font-family: 'Fredoka One', cursive;
  color: #7D35BD;
  height: 4.3722vw;
}
.main-nav .main-nav__ul {
  display: flex;
  align-items: center;
}
.main-nav .main-nav__ul > li {
  display: flex;
  align-items: center;
  margin: 0 1.041vw;
}
.main-nav .main-nav__ul > li a {
  color: #7D35BD;
  font-family: 'Fredoka One', cursive;
}
.icon-email,
.icon-linkedin {
  width: 1.6656vw;
  height: 1.6656vw;
  display: inline-block;
  overflow: hidden;
  text-indent: -999vw;
}
.icon-email {
  background: url("../img/icon-email.svg") center center no-repeat;
  background-size: contain;
}
.icon-linkedin {
  background: url("../img/icon-linkedin.svg") center center no-repeat;
  background-size: contain;
}
.s-intro {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/bg-intro-top.png") center bottom no-repeat;
  background-size: cover;
  padding-top: 4.3722vw;
}
.s-intro h1 {
  margin: 0 auto;
  width: 26.5802vw;
  height: 22.6938vw;
  background: url("../img/we-are-mobile-gaming.png") no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  text-indent: -999vw;
}
.icon-down {
  width: 3.9558vw;
  height: 3.9558vw;
  background: url("../img/icon-scroll.png") no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 2.776vw;
  left: 50%;
  transform: translate(-50%, 0);
}
.s-coming-soon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/bg-intro-bottom.png") center top no-repeat;
  background-size: cover;
  padding-top: 4.3722vw;
}
.text-coming-soon {
  width: 28.454vw;
  height: 42.334vw;
  margin: 2.082vw auto;
  background: url("../img/merge-your-way.png") center center no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: -999vw;
}
.s-positions {
  height: 100vh;
  background: url("../img/bg-positions.png") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.3722vw 0 8.328vw;
}
.img-knight {
  width: 44.8324vw;
  height: 25.7474vw;
  background: url("../img/knight.png") center center no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.text-we-are-hiring {
  background: url("../img/we-are-hiring.png") center center no-repeat;
  background-size: contain;
  width: 21.0976vw;
  height: 3.5394vw;
  margin: 2.082vw auto 2.776vw;
  flex-shrink: 0;
  overflow: hidden;
  text-indent: -999vw;
}
.btn-positions {
  padding: 0 1.5268vw;
  height: 4.6498vw;
  background: linear-gradient(180deg, #33379B 17.55%, #8A089F 105.27%, rgba(51, 55, 155, 0) 105.28%);
  border: 0.347vw solid #ace0fa;
  border-radius: 6.94vw;
  color: #fff;
  font-family: 'Fredoka One', cursive;
  font-size: 1.5268vw;
  line-height: 3.9558vw;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.btn-positions:before {
  content: '';
  position: absolute;
  top: -0.347vw;
  right: -0.347vw;
  bottom: -0.347vw;
  left: -0.347vw;
  border-radius: 6.94vw;
  box-shadow: 0 0.5552vw 0.694vw rgba(142, 138, 138, 0.25);
}
.footer-text {
  position: absolute;
  bottom: 1.6656vw;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9716vw;
  line-height: 1.388vw;
  color: #33379B;
}
.footer-text ul {
  display: block;
  margin: 0.9022vw auto;
}
.footer-text ul li {
  display: inline-block;
  margin: 0 0.694vw;
}
.footer-text ul a {
  color: #33379B;
  text-decoration: underline;
}
.s-careers {
  min-height: 100vh;
  background: url("../img/bg-careers.png") center bottom;
  background-size: cover;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 8.328vw;
  position: relative;
}
.s-careers .text-we-are-hiring {
  background: url("../img/text-we-are-hiring.png") center bottom no-repeat;
  background-size: contain;
  width: 40.4602vw;
  height: 7.287vw;
  margin: 10.41vw auto 4.858vw;
  overflow: hidden;
  text-indent: -999vw;
}
.s-careers .footer-text,
.s-careers .footer-text a {
  color: #fff;
}
.list-careers {
  margin: 0 auto;
  width: 62.7376vw;
}
.list-careers li {
  height: 6.7318vw;
  background: #FFFFFF;
  border-radius: 2.082vw;
  position: relative;
  margin-bottom: 1.6656vw;
  font-size: 1.9432vw;
  line-height: 6.246vw;
  color: #2E41A8;
  font-family: 'Fredoka One', cursive;
  padding-left: 7.0788vw;
}
.list-careers li:before {
  content: '';
  display: block;
  position: absolute;
  left: 1.5268vw;
  bottom: 1.1104vw;
  background: url("../img/statue.png");
  background-size: cover;
  width: 4.9274vw;
  height: 6.5236vw;
}
.list-careers li a {
  width: 100%;
  height: 100%;
  display: block;
}
.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(52, 57, 159, 0.7);
}
.popup .popup-content {
  position: fixed;
  width: 45.3876vw;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  background: #FFF;
  border-radius: 2.082vw;
  transform: translate(-50%, -50%);
}
.popup .popup-content:before {
  content: '';
  display: block;
  width: 7.287vw;
  height: 9.6466vw;
  margin: -1.4574vw auto 0;
  background: url("../img/statue.png") center center no-repeat;
  background-size: contain;
}
.popup h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.9432vw;
  line-height: 2.3596vw;
  color: #2E41A8;
  text-align: center;
  margin: 0.9716vw 0 2.082vw;
}
.popup input {
  padding: 0 1.388vw;
  background: #F5F5F5;
  height: 3.9558vw;
  line-height: 3.9558vw;
  border-radius: 6.94vw;
  width: calc(100% - 180 * 0.0694vw);
  margin: 0 auto 1.1104vw;
  display: block;
}
.popup input[type=submit] {
  height: 5.899vw;
  width: 100%;
  margin: 0;
  background: linear-gradient(91.28deg, #FFEC36 -21.92%, #FFA300 109.6%);
  border-radius: 0 0 2.082vw 2.082vw;
  font-family: 'Fredoka One', cursive;
  font-size: 1.9432vw;
  line-height: 2.3596vw;
  text-align: center;
  color: #FFFFFF;
}
.s-text {
  background: #f5f5f5 url("../img/bg-text-page.png") center 9.2996vw;
  background-size: 100% auto;
  padding-top: 9.2996vw;
  min-height: 100vh;
  padding-bottom: 8.328vw;
  position: relative;
}
.s-text .text-heading {
  font-family: 'Fredoka One', cursive;
  font-size: 6.246vw;
  line-height: 7.634vw;
  text-align: center;
  background: linear-gradient(180deg, #454545 0%, #7D35BD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 2.429vw;
}
.s-text .text-content {
  width: 62.7376vw;
  margin: 0 auto;
  background: #fff;
  border-radius: 2.082vw;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.388vw;
  line-height: 1.9432vw;
  color: #141241;
  padding: 0.694vw 3.47vw 3.47vw;
}
.s-text .text-content h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.9432vw;
  line-height: 2.3596vw;
  color: #2E41A8;
  margin: 2.776vw 0 1.388vw;
}
@media (max-width: 767px) {
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #34399F;
    opacity: 0.7;
    z-index: 998;
  }
  .overlay.hidden {
    display: none;
  }
  .page-header {
    position: fixed;
    left: 0;
    right: 0;
  }
  .page-header__logo {
    width: 44.6136vw;
    height: 10.5124vw;
    background: url("../img/logo.png") center center no-repeat;
    background-size: 100%;
    margin: 0 2.564vw;
  }
  .btn-hamb {
    width: 6.41vw;
    height: 6.41vw;
    background: url("../img/hamb.svg") center center no-repeat;
    background-size: contain;
    display: block;
    margin-right: 6.41vw;
  }
  .main-nav {
    margin: 0;
    height: 14.3584vw;
  }
  .main-nav.collapsed .main-nav__ul {
    display: none;
  }
  .main-nav .main-nav__ul {
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    top: 14.3584vw;
    flex-wrap: wrap;
    background: #fff;
    padding: 12.82vw 0;
  }
  .main-nav .main-nav__ul > li {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 7.692vw;
  }
  .main-nav .main-nav__ul > li a {
    font-size: 7.692vw;
    line-height: 9.2304vw;
  }
  .icon-email,
  .icon-linkedin {
    width: 10.256vw;
    height: 10.256vw;
  }
  .icon-email {
    background: url("../img/icon-email.svg") center center no-repeat;
    background-size: contain;
  }
  .icon-linkedin {
    background: url("../img/icon-linkedin.svg") center center no-repeat;
    background-size: contain;
  }
  .s-intro {
    height: 215vw;
    background-image: url("../img/bg-intro-top-mob.png");
    background-position: center center;
    position: relative;
    z-index: 2;
    overflow: visible;
    justify-content: flex-start;
  }
  .s-intro:before {
    content: '';
    position: absolute;
    background: url("../img/king-mob.png") center bottom no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 306.6544vw;
    bottom: -40vw;
    z-index: 2;
  }
  .s-intro h1 {
    margin: 19.4864vw auto 0;
    width: 69.228vw;
    height: 57.69vw;
    z-index: 3;
  }
  .icon-down {
    display: none;
  }
  .s-coming-soon {
    height: 295vw;
    background-image: url("../img/bg-intro-bottom-mob.png");
    background-position: center bottom;
    z-index: 1;
    position: relative;
    justify-content: flex-start;
  }
  .s-coming-soon:before {
    content: '';
    position: absolute;
    background: url("../img/landscape-mob.png") center bottom no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 177.6852vw;
    bottom: -10vw;
    z-index: 2;
  }
  .text-coming-soon {
    width: 87.176vw;
    height: 144.0968vw;
    margin: 39.9984vw auto 0;
    background-image: url("../img/merge-your-way-mob.png");
    z-index: 3;
  }
  .s-positions {
    height: 100vh;
    padding: 14.3584vw 0 0;
    background: transparent;
    overflow: visible;
  }
  .s-positions:before {
    content: '';
    position: absolute;
    top: -128.2vw;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/bg-positions-mob.png") top center no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .img-knight {
    width: 390px;
    height: 281px;
    margin: 0 auto;
    background-image: url("../img/knight-mob.png");
    flex-shrink: 0;
  }
  .text-we-are-hiring {
    width: 304px;
    height: 51px;
    margin: 30px auto 40px;
    flex-shrink: 0;
  }
  .btn-positions {
    padding: 0 22px;
    height: 67px;
    border: 5px solid #ace0fa;
    border-radius: 100px;
    font-size: 22px;
    line-height: 57px;
  }
  .btn-positions:before {
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 100px;
    box-shadow: 0 8px 10px rgba(142, 138, 138, 0.25);
  }
  .footer-text {
    position: static;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
  .footer-text .copyright {
    max-width: 175px;
    margin: 0 auto;
  }
  .footer-text ul {
    margin: 13px auto;
  }
  .footer-text ul li {
    margin: 0 10px;
  }
  .s-careers {
    background-image: url("../img/bg-careers-mob.png");
    background-size: cover;
    overflow: auto;
    padding-bottom: 140px;
  }
  .s-careers .text-we-are-hiring {
    background: url("../img/text-we-are-hiring-mob.png") center bottom no-repeat;
    background-size: contain;
    width: 86.9196vw;
    height: 38.9728vw;
    margin: 25.64vw auto 2.776vw;
  }
  .s-careers .footer-text {
    position: absolute;
    bottom: 44px;
  }
  .list-careers {
    margin: 0 4.6152vw;
    width: auto;
  }
  .list-careers li {
    height: 18.9736vw;
    border-radius: 2.564vw;
    margin-bottom: 3.0768vw;
    font-size: 5.128vw;
    line-height: 18.9736vw;
    padding-left: 17.948vw;
  }
  .list-careers li:before {
    left: 4.3588vw;
    bottom: 4.3588vw;
    width: 9.4868vw;
    height: 12.3072vw;
  }
  .popup {
    display: none;
  }
  .popup .popup-content {
    display: block;
    position: static;
    width: calc(100% - 36px);
    margin: 100px 18px 0;
    border-radius: 10px;
    transform: none;
  }
  .popup .popup-content:before {
    position: absolute;
    width: 108px;
    height: 140px;
    margin: 0;
    top: 86px;
    left: 50%;
    transform: translate(-50%);
  }
  .popup h2 {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 10px;
    padding-top: 140px;
  }
  .popup input {
    padding: 0 17px;
    height: 57px;
    line-height: 57px;
    border-radius: 100px;
    width: calc(100% - 34px);
    margin: 0 auto 16px;
    font-size: 14px;
  }
  .popup input[type=submit] {
    height: 93px;
    width: 100%;
    background: linear-gradient(91.28deg, #FFEC36 -21.92%, #FFA300 109.6%);
    border-radius: 0 0 10px 10px;
    font-size: 28px;
    line-height: 34px;
  }
  .s-text {
    background: #f5f5f5;
    margin: 0;
    padding: 23.076vw 0 7.692vw;
    position: static;
  }
  .s-text .text-heading {
    font-size: 14.6148vw;
    line-height: 15.384vw;
    margin-bottom: 2.429vw;
  }
  .s-text .text-content {
    width: auto;
    background: transparent;
    min-height: 100vh;
    padding: 0 5.128vw;
    font-size: 4.6152vw;
    line-height: 6.41vw;
  }
  .s-text .text-content h2 {
    font-size: 6.1536vw;
    line-height: 7.4356vw;
    margin: 5.128vw 0 3.5896vw;
  }
}
@media (max-width: 390px) {
  .img-knight {
    width: 99.84vw;
    height: 71.936vw;
  }
  .text-we-are-hiring {
    width: 77.824vw;
    height: 13.056vw;
    margin: 7.68vw auto 10.24vw;
  }
  .btn-positions {
    padding: 0 5.632vw;
    height: 17.152vw;
    border: 1.28vw solid #ace0fa;
    border-radius: 25.6vw;
    font-size: 5.632vw;
    line-height: 14.592vw;
  }
  .btn-positions:before {
    top: -1.28vw;
    right: -1.28vw;
    bottom: -1.28vw;
    left: -1.28vw;
    border-radius: 25.6vw;
    box-shadow: 0 2.048vw 2.56vw rgba(142, 138, 138, 0.25);
  }
  .footer-text {
    font-size: 3.584vw;
    line-height: 5.12vw;
    margin-top: 5.12vw;
  }
  .footer-text .copyright {
    max-width: 44.8vw;
  }
  .footer-text ul {
    margin: 3.328vw auto;
  }
  .footer-text ul li {
    margin: 0 2.56vw;
  }
}
/*# sourceMappingURL=style.css.map */